*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom , #e5eaff, #d8f8fa);
                                                                                                                                         
}
.top-element{
    display: block;
    justify-items: center;
    margin-top: 100px;

}
.h1{
    max-width: 430px;
    text-align: center;
    font-size: 39px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.para{
    max-width: 490px;
    text-align: center;
    padding-top: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 25px;
}

.start-now {
    padding: 13px 15px;
    background-color:#2936ec;
    border: none;
    color: #fff;
    border-radius: 30px;
    box-shadow: 2px 2px 2px #5555ee7e ;
    margin-right: 20px;
}
.contact-us{
    padding: 13px 15px;
    background-color:#fff;
    border: none;
    color: #000;
    border-radius: 30px;
    box-shadow: 2px 2px 2px #7171727e ;
}
.start-now:hover{
    transform: translateY(-2px);
    transition: 0.20s;
}
.contact-us:hover{
    transform: translateY(-2px);
    transition: 0.20s;
}
.footerCont{
    margin-top: 12vh;
    background-color: #fff;
    display: block;
    justify-self: center;
    width: 97vw;
    border-radius: 20px;
    height: 65vh;
    padding-left:35px ;
    box-shadow: -1px -1px 1px 1px#a5a5a517 ;
    line-height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
}
#BrandName{
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
    margin-bottom: 20px;
}
#input-email{
    padding: 14px 15px;
    border-radius: 50px;
    width: 250px;
    outline: none;
    border-color: #00000057;
    margin-top: 20px;
}
.submit{
    padding: 12px 20px;
    background-color: #000;
    color: #fff;
    border-radius: 50px;
    margin-left: -80px;
    border: none;
}
.submit:hover{
background-color: #000000e3;

}
#subscribe{
    max-width: 400px;
    line-height: 20px;
    padding-top: 10px;

}

ul{
    
    text-transform: capitalize;
    line-height: 35px;
}
ul li:hover{
    cursor: pointer;
    
    
    color: #2936ec98;
    
}
.listCont{
    
    /* left: 550px; */
    margin-top: -22vh;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    margin-left: 40vw;
    
}
.fifthList{
    margin-left: 70em;
    margin-top: -170px;
}
hr{
    width: 78em;
}
#copywrite{
    text-align: center;
    display: block;
    justify-self: center;
}
#footer{
    margin-top: 50px;
}

    
   


@media (max-width: 500px){
    *{
        font-size: 14px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .listCont{
        margin-top: 30px;
        margin-left:-50px ;
        margin-right: 20px;
        display: grid;
        grid-template-columns: 90px 220px ;
        
        
    }
    .fifthList{
        margin-left:25px;
    margin-top: 10px;

    }
    ul{
        line-height: 27px;
    }
    #subscribe{
        margin-right: 20px;
        margin-left: -20px;
        text-align: center;
    }
    hr{
        width:90%;

    }
    #copywrite{
        margin-left: -30px;
    }
    .footerCont{
        width: 90%;
        height:fit-content;
    }
    .h1,.para{
        max-width: 400px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #input-email{
        width: 89%;
        margin-left: -10px;
    }
    
    .submit{
        margin-left: -86px;
    }
    .start-now {
        display: block;
        margin-bottom: 10px;
        width: 130px;
    }
    .contact-us{
        margin-left: -20px;
        width: 130px;

    }
    #BrandName{
        margin-bottom: 5px;
    }
    .submit:hover{
        transform: translate(-2px);
    }
}



@media (max-width: 700px){
    .listCont{
        position: relative;
        /* left: 550px; */
        top: 12px;
        
        

        left: 10vw;
    }
}
/* COLORS
UNITS ; PX, %, em, rem, vw,vh
font family */